# dependency directories
node_modules/

# output directory
out/

# dynamic files
package-lock.json
*.log

# junk OS files
*.DS_Store
[Tt]humbs.db

# always keep these files
!*.gitkeep

# private files
*.npmrc