  /**
   {{#functionDocumentation}}
   {{.}}
   {{/functionDocumentation}}
   */
  public async {{functionName}} ({{parameterSignature}}) {

    const logMessagePrefix = '{{clientLibraryName}}.{{functionName}}() ';

    {{#formDataTs}}
    {{.}}
    {{/formDataTs}}

    const options = {
      {{bodyOrFormField}},
      headers: {
        {{#headersCustom}}
        {{.}},
        {{/headersCustom}}
        'User-Agent': 'automated-testing-request',
        'X-Conversation-Id': 'automated-testing-request-id'
      },
      json: true,
      method: 'POST',
      url: `${this.apiServerUrl}{{endpointPath}}`
    };

    return await requestPromise (options)
      .then ((response: any) => {
        // console.log (`DEBUG -- $[logMessagePrefix] API JSON response ${require ('util').inspect (response, {colors: true, depth: 2})}`);

        return response;
      })
      . catch ( (errorResponse: any) => {
        console.log (`$[logMessagePrefix] There was an error calling the API.`);
        console.log (`DEBUG -- $[logMessagePrefix] API JSON errorResponse ${require ('util').inspect (errorResponse, {colors: true, depth: 2})}`);

        return errorResponse;
      });

  }
