import requestPromise from 'request-promise';

export class {{apiClientName}} {

  public apiServerUrl: string;

  constructor (apiServerUrl: string) {
    this.apiServerUrl = apiServerUrl;
  }

{{functions}}
}

{{interfaces}}