// If this function has url query parameters, there will be code below to build a parameter string.
// if there are no url query parameters for this function, This comment section can be ignored!
// Loop over a _full list of possible url query parameters_, building a query string and ignoring those without supplied values (no empty params in the url, please!)
const urlParamMap: any = {
  {{#urlParamsArray}}
  {{.}}
  {{/urlParamsArray}}
};
let paramString = '';
for (const urlParam of Object.keys (urlParamMap)) {
  const paramSeparator = (paramString.length > 0) ? '&' : '?';
  paramString += urlParamMap[urlParam] ? `${paramSeparator}${urlParam}=${urlParamMap[urlParam]}` : '';
}
