
// for each url query parameter that is passed to this function, add it to the parameter string
const urlParamArray: any = {
  {{#urlParamsArray}}
  {{.}}
  {{/urlParamsArray}}
};

let paramString = '';
for (let i =0; i < Object.keys (urlParamArray).length; i++) {
  const paramSeparator = (paramString.length > 0) ? '&' : '?';
  paramString += urlParamArray[i] ? `${paramSeparator}${urlParamArray[i]}=${arguments[i]}` : '';
}
